<div class="assignment1">
  <div class="alert alert-info">Follow the steps:</div>
  <ul class="list-group">
    <li class="list-group-item">Create an input of type "text"</li>
    <li class="list-group-item">Attach a template reference variable to the input</li>
    <li class="list-group-item">Attach an "input" event passing in the value of textbox to the handler</li>
    <li class="list-group-item">Create handler in the component's class</li>
    <li class="list-group-item">Display the result on the page via string interpolation</li>
  </ul>
  <div class="container your-code">
    <div>
      <br>
      <h6>Enter your name per say</h6>

      <!-- Template Reference Variable -->
      <input type="textbox" #inputName (input)="show(inputName)" placeholder="Enter a Name"> <br><br>

      <!-- A button event that does the same thing -->
      <!-- <button (click)="show(inputName)">Show</button><br><br> -->

      <p>You entered {{userInput}} ! </p>

      <br><br>
    </div>
  </div>
</div>